
html {
    font-family: serif;
}

body {
    font-size: 16px;
    line-height: 20px;
    margin: 0px;
}

Header {
    background: -moz-linear-gradient(top,#09C 0%,#09C 50%,#069 50%,#069);
    background: -webkit-gradient(linear, left top, left bottom,from(#09C), color-stop(0.5,#09C), color-stop(0.5,#069),  to(#069));
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

button{
    background-color: deepskyblue;
    color: white;
}

#loginButton {
    margin-left: 10px;
    margin-top: 15px;
}

#tweetBox {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.24);
    float: left;
}

#tweetBox textarea {
    height: 100px;
    font-size: 16px;
    width: 90%;
}

#userBox {
    border: 1px solid rgba(0, 0, 0, 0.24);
    width: 60%;
    height: 100%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    float: left;
    overflow: hidden;
}

.tweet {
    border: 1px solid rgba(0, 0, 0, 0.24);
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

ul{
    list-style: none;
}

.box {
    float: left;
    width: 20%;
}

button {
    background: -moz-linear-gradient(top,#09C 0%,#09C 50%,#069 50%,#069);
    background: -webkit-gradient(linear, left top, left bottom,from(#09C), color-stop(0.5,#09C), color-stop(0.5,#069),  to(#069));
    border: 1px solid #DDD;
    color: #FFF;
    width: 100px;
    padding: 10px 0;
}

#container {
    position: fixed;
    z-index:1;
    background-color: white;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.HomeTimeLine {
    padding-top: 15%;
    background-color: #dde1da;
}

#imageAndNameAndScreenname {
    float: left;
}

#descriptionAndLocation {
    float: left;
}

#TLButton {
    margin-left: 3%;
}